<form action='/calculate' method='post'>
  <input type='text' name='donation' placeholder='Donation amount'>
  <select name='event_type'>
    <option value='swimming'>swimming</option>
    <option value='running'>running</option>
    <option value='other' selected>other</option>
  </select>
  <input type='submit' value='Calculate'>
</form>