<html>
  <head>
    <title>Gift Aid Calculator</title>
    <link href="/css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <a href='/'><h1>Gift Aid Calculator 1.0</h1></a>
        <a href='/tax_rate/update' id='update_link'>Update Tax Rate</a>
      </nav>
    </header>

    <main>
      <section class='container'>
        <%= yield %>
      <section>
    </main>

  </body>
</html>