<html>
  <head>
    <title>Gift Aid Calculator</title>
    <link href="/css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h1>Gift Aid Calculator 1.0</h1>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>