<h2>Current tax rate: <%= @tax_rate %>%</h2>

<form action='/tax_rate/update' method='post'>
  <input type='text' name='credentials' placeholder='Authentication string'></br>
  <input type='text' name='new_tax_rate' placeholder='<%= @tax_rate %>%'>
  <input type='submit' value='Update'></br>
</form>